@font-face
	{
		font-family: "TrebuchetBold";
		src: url('fonts/Trebuchet-MS-Bold-Italic.ttf');     
		
	}

	
@font-face
	{		
		font-family: "Avenir";
		src: url('fonts/Avenir95Black.ttf');
	}	
