#homeEmpezar {
	position: relative;
	overflow: none;
}

#uplogo {
	width: 60%;
	margin-left: 20%;
}

#instructionBox {
	-webkit-border-radius: 12px; 
	border-radius: 12px;
	width: 75%;
	margin: 25% 3% 3% 3%;
	position: absolute;
	padding: 2em;
	background-color:white;
}

#intro {
	color: #1c5666;
	font-size: 0.7em;
	font-weight: bold-italic;
	font-family: Trebuchet;
	text-align: center;
	font-weight: cursive;
	font-style: cursive;
}

.instructionsText {
	color: #02afee;
	font-size: 0.9em;
	font-family: Avenir;
	text-align: center;
	font-weight: bold;
	line-height:1;
}

#start {
	height: 4.5em;
	background-image: url(../img/empezar.png);
	background-repeat: no-repeat;
	background-size:100%;
}