#homeEmpezar {
	position: relative;
	overflow: none;
}

#uplogo {
	width: 55%;
	margin-left: 24%;
}

#instructionBox {
	-webkit-border-radius: 12px; 
	border-radius: 15px;
	width: 75%;
	margin: 6%;
	position: absolute;
	padding: 2em;
    height:450px;
	background-color:white;
}

#intro {
	color: #1c5666;
	font-size: 1em;
	font-weight: bold-italic;
	font-family: TrebuchetBold;
	text-align: center;	
}

.instructionsText {
	color: #02afee;
    line-height:1.4em;
    padding-left:0.5em;
    padding-right:0.5em;
	font-size: 1.2em;
	font-family: Avenir;
	text-align: center;
	font-weight: bold;
	
}

#start {
	height: 6em;
	background-image: url(../img/empezar.png);
	background-repeat: no-repeat;
	background-size:100%;
}